<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>Formularios</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Vista Previa</th>

        </tr>
    </thead>
    <tbody>
    {% for formulario in object_list %}
        <tr>
            <td>{{ formulario.nombre }}</td>
            <td>{{ formulario.descripcion }}</td>
            <td><a class="btn btn-light" href="{% url 'formulario_vista' formulario.pk %}">Ver</a></td>
        </tr>
   {% empty %}
    <tr>
        <td>No existen formularios creados</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}