server {
    listen 10443 http2 ssl;
    listen [::]:10443 http2 ssl;
    server_name default_server;
    ssl_certificate {{ install_prefix }}nginx_certs/cert.pem;
    ssl_certificate_key {{ install_prefix }}nginx_certs/key.pem;
    access_log      /var/log/nginx/example.com_access.log combined;
    error_log       /var/log/nginx/example.com_error.log error;
    root {{ install_prefix }};
    index index.php index.html;
    location / {
    }
    error_page 404 /404.html;
    location = /404.html {
    }
    error_page 500 502 503 504 /50x.html;
    location = /50x.html {
    }
    location ~ \.php$ {
        try_files $uri =404;
        fastcgi_pass unix:/var/run/php-fpm/php-fpm.sock;
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
    }
}
