<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% extends "base.html" %}
{% load static %}

{% block content %}

    <form method="post">{% csrf_token %}
         {% if es_template %}
                        <h1>Template "{{ object.nombre_template }}"</h1>
                        <p>¿Esta seguro que desea eliminar este Template? </p>
                    {% else %}
                        <h1>Campaña "{{ object.nombre }}"</h1>
                        <p>¿Esta seguro que desea eliminar esta Campaña? </p>
                    {% endif %}

        <button type="submit" class="btn btn-danger">Eliminar</button>
        {% if es_template %}
        <a class="btn btn-outline-danger" href="{% url 'lista_campana_dialer_template' %}">Cancelar</a>
        {% else %}
        <a class="btn btn-outline-danger" href="{% url 'campana_dialer_list' %}">Cancelar</a>
        {% endif %}
    </form>

{% endblock %}