<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% extends "base.html" %}
{% load static %}

{% block content %}

        <div class="panel-body">
            <div class="col-lg-8">
                <form method="post">{% csrf_token %}

                        <h4>Campaña <strong>{{ object.campana.nombre }}</strong></h4>

                    <h4>¿Esta seguro que desea eliminar la Actuación:  
                        <strong>
                            {{ object.get_dia_semanal_display }}:
                            {{ object.hora_desde }} -
                            {{ object.hora_hasta }}
                        </strong>?</h4>

                    <button type="submit" class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove"></span> Eliminar
                    </button>

                        <a href="{% url 'actuacion_campana_dialer' object.campana.pk %}">Cancelar</a>

                    
                </form>
            </div>
        </div>

{% endblock %}
