<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% extends "campana/wizard_base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block head_js %}
    <script>
     $(document).ready(function() {
       $('#id_fecha_inicio').datetimepicker({format: 'DD/MM/YYYY'});
       $('#id_fecha_fin').datetimepicker({format: 'DD/MM/YYYY'});

     });
    </script>
{% endblock %}

{% block nav %}
    <h1>{% trans 'Campaña Dialer: Datos Básicos' %} {% if not form.instance.pk %}<span style="color:red;">- {% trans 'Canales en uso:' %} {{ canales_en_uso }}{% endif %}</h1>

    <ul class="nav nav-indicators">
        <li class="active"><a>{% trans 'Campaña' %}</a></li>
        <li class="disabled"><a>{% trans 'Cola' %}</a></li>
        <li class="disabled"><a>{% trans 'Opciones de calificación' %}</a></li>
        <li class="disabled"><a>{% trans 'Parámetros extra web form' %}</a></li>
        {% if not form.instance.pk %}
            <li class="disabled"><a>{% trans 'Actuacion' %}</a></li>
            <li class="disabled"><a>{% trans 'Reglas Incidencias' %}</a></li>
            {% if not es_template %}
                <li class="disabled"><a>{% trans 'Sincronizar' %}</a></li>
            {% endif %}
        {% endif %}
    </ul>
{% endblock %}

{% block form_render %}
    {% with form as form %}
        {{ form.non_field_errors }}
        <div class="form-row">
            <div class="col-md-6">
                <label for="{{ form.nombre.id_for_label }}">Nombre: </label>
                {{ form.nombre|add_class:"form-control" }}
                <small id="nameHelpBlock" class="form-text text-muted">
                    Los espacios, tildes, ñ-es y otros caracteres no ASCII no están permitidos.
                </small>
                {{ form.nombre.errors }}
            </div>
            {% if not form.initial.es_template %}
                <div class="col-md-6">
                    <label for="{{ form.fecha_inicio.id_for_label }}">Fecha inicio: </label>
                    {{ form.fecha_inicio|attr:"id:id_fecha_inicio" }}
                    {{ form.fecha_inicio.errors }}
                </div>
                <div class="col-md-6">
                    <label for="{{ form.fecha_fin.id_for_label }}">Fecha fin: </label>
                    {{ form.fecha_fin|attr:"id:id_fecha_fin" }}
                    {{ form.fecha_fin.errors }}
                </div>
            {% endif %}
            <div class="col-md-6">
                <label for="{{ form.bd_contacto.id_for_label }}">Base de Datos de Contactos: </label>
                {{ form.bd_contacto }}
                {{ form.bd_contacto.errors }}
            </div>
        {% block tipo_interaccion %}
            {{ form.tipo_interaccion.errors }}
            <div class="col-md-6">
                <label><div class="myradio">{{ form.tipo_interaccion.0 }}</div> </label>
                {{ form.formulario }}
                {{ form.formulario.errors }}
            </div>
            <div class="col-md-6">
                <label><div class="myradio">{{ form.tipo_interaccion.1 }}</div> </label>
                {{ form.sitio_externo.errors }}
                {{ form.sitio_externo }}
            </div>
        {% endblock %}
            <div class="col-md-6">
                <label>Objetivo: </label>
                {{ form.objetivo }}
                {{ form.objetivo.errors }}
            </div>
        </div>
    {% endwith %}
{% endblock %}
