<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% extends "base.html" %}
{% load static %}

{% block content %}


            <ul class="nav nav-tabs">
                <li><a href="{%  url 'campana_update' campana.pk %}">Campaña</a></li>
                <li class="active"><a>Datos Básicos de la cola</a></li>
            </ul>
            <br>
                {% if object.name %}
                    <p>Modificar datos de la cola <strong>{{ object.name }}</strong></p>
                {% endif %}
        <form action = "" method = "post">
            <div class="col-lg-4">
            {% csrf_token %}
            <table class="table table-striped">
		        {{form.as_table}}
            </table>
            <button type="submit" id="id_registrar" class="btn btn-success btn-lg">
                Siguiente
            </button>
            <a href="{% url 'campana_list' %}">Cancelar</a>
                    </div>
	    </form>



{% endblock %}