<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% extends "base.html" %}
{% load static %}

{% block content %}



         {% if campana%}
            <h1>Campaña {{ campana.nombre }}</h1>
                {% endif %}
                <div class="form-row">
                    <div class="col-md-6">
                        <form action="{%  url 'queue_member_add' campana.pk %}" role="form" method="post">
                                {% csrf_token %}
                                <h2>Agentes</h2>
                                <table class="table">
                                     {{queue_member_form.as_table}}
                                </table>
                                <button type="submit" id="id_guardar" class="btn btn-outline-primary">
                                    Agregar agente
                                </button>
                        </form>                        
                    </div>
                    <div class="col-md-6">
                        <form action="{%  url 'queue_member_grupo_agente' campana.pk %}" role="form" method="post">
                                {% csrf_token %}
                                <h2>Grupos</h2>
                                <table class="table">
                                     {{grupo_agente_form.as_table}}
                                </table>
                                <button type="submit" class="btn btn-outline-primary">
                                    Agregar grupo
                                </button>
                        </form>                        
                    </div>
                </div>
            <hr>
            {% if campana %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Agente</th>
                            <th>interface</th>
                            <th>Penalty</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for agente in campana.queue_campana.queuemember.all %}
                            <tr>
                                <td>{{ agente.member}}</td>
                                <td>{{ agente.interface }}</td>
                                <td>{{ agente.penalty }}</td>
                                <td><a class="btn btn-light" href="{% url 'queue_member_elimina' agente.pk campana.pk %}">Remover</a></td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="4">
                                    <p>No hay agentes agreados en está cola.</p>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            <hr>
            <a href="{% url url_finalizar %}" class="btn btn-primary" role="button">
                Finalizar
            </a>

{% endblock %}