<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
    <h1>{% trans 'Rutas Entrantes' %}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>{% trans 'Nombre' %}</th>
                <th>{% trans 'Número DID' %}</th>
                <th>{% trans 'Prefijo' %}</th>
                <th colspan="2">{% trans 'Idioma' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for ruta_entrante in rutas_entrantes %}
                <tr>
                    <td>{{ ruta_entrante.id }}</td>
                    <td><a href="{% url 'editar_ruta_entrante' ruta_entrante.id %}">{{ ruta_entrante.nombre }}</a></td>
                    <td>{{ ruta_entrante.telefono }}</td>
                    <td>{{ ruta_entrante.prefijo_caller_id }}</td>
                    <td>{{ ruta_entrante.get_idioma_display }}</td>
                    <td>
                        <a class="dropdown-item" href="{% url 'eliminar_ruta_entrante' ruta_entrante.pk %}">
                            <span class="icon icon-trash"></span>{% trans 'Eliminar' %}
                        </a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td>{% trans 'No hay rutas entrantes configuradas' %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-light btn-sm" href="{% url 'crear_ruta_entrante' %}" >{% trans 'Agregar ruta entrante' %}</a>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'user_list' page=page_obj.previous_page_number%}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">{% trans 'Anterior' %}</span>
                    </a>
                </li>
            {% endif %}

            <li class="page-item current">
                Pagina {{ page_obj.number }} de {{ paginator.num_pages }}.
            </li>

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'user_list' page=page_obj.next_page_number %}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">{% trans 'Siguiente' %}</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
