<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% extends "campana/wizard_base.html" %}
{% load i18n %}
{% load static %}

{% block nav %}
    <h1>{{ titulo }}</h1>

    <ul class="nav nav-indicators">
    	{% if wizard.steps.current == '0' %}
	        <li class="active"><a>{% trans 'Datos Básicos' %}</a></li>
	        <li class="disabled"><a>{% trans 'Perfil' %}</a></li>
        {% else %}
	        <li class="disabled"><a>{% trans 'Datos Básicos' %}</a></li>
	        <li class="active"><a>{% trans 'Perfil' %}</a></li>
    	{% endif %}
    </ul>
{% endblock %}

{% block form_render %}
	{% include "base_form_fields.html" with form=form %}
{% endblock %}
