<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>Agentes</h1>

<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>nombre del agente</th>
            <th>sip_extension</th>
            <th>modulos</th>
            <th>grupo</th>
            <th>campañas</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for agente in agentes %}
        <tr>
            <td>{{ agente.id }}</td>
            <td>{{ agente.user.get_full_name}}</td>
            <td>{{ agente.sip_extension }}</td>
            <td>{{ agente.get_modulos}}</td>
            <td>{{ agente.grupo}}</td>
            <td>
                {% for queue in agente.campana_member.all %}
                    {{ queue.queue_name.campana.nombre }}
                {% endfor %}
            </td>
            <td>
                 {% if agente.is_inactive %}
                Agente Inactivo
                <a class="btn btn-light btn-sm"  href="{% url 'agente_activar' agente.pk %}" >
                    activar
                </a>
                {% else %}
                Agente Activo
                <a class="btn btn-light btn-sm" href="{% url 'agente_desactivar' agente.pk %}" >
                    desactivar
                </a>
                {% endif %}
            </td>
        </tr>
   {% empty %}
    <tr>
        <td>No existen agentes</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}