<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>Supervisores</h1>

<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>nombre del supervisor</th>
            <th>sip_extension</th>
            <th>Es administrador</th>
        </tr>
    </thead>
    <tbody>
    {% for supervisor in object_list %}
        <tr>
            <td>{{ supervisor.id }}</td>
            <td>{{ supervisor.user.get_full_name}}</td>
            <td>{{ supervisor.sip_extension }}</td>
            <td>
                {% if  supervisor.is_administrador %}
                    <span class="icon icon-check" aria-hidden="true"></span>
                {% else %}
                       <span class="icon icon-cancel" aria-hidden="true"></span>
                {% endif %}
            </td>
          </tr>
   {% empty %}
    <tr>
        <td>No existen supervisores</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}