<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% extends "campana/wizard_base.html" %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block title_campana %}{% endblock %}

{% block nav %}
    <h1>{% trans 'Campaña Manual: Datos básicos' %}</h1>

    <ul class="nav nav-indicators">
        <li class="active"><a>{% trans 'Campaña' %}</a></li>
        <li class="disabled"><a>{% trans 'Opciones de calificación' %}</a></li>
        <li class="disabled"><a>{% trans 'Parámetros extra web form' %}</a></li>
    </ul>
{% endblock %}

{% block form_render %}
    {% with form as form %}
        {{ form.non_field_errors }}
        <div class="form-row">
            <div class="col-md-6">
                <label for="{{ form.nombre.id_for_label }}">Nombre: </label>
                {{ form.nombre|add_class:"form-control" }}
                <small class="form-text text-muted">
                    Los espacios, tildes, ñ-es y otros caracteres no ASCII no están permitidos.
                </small>                 
                {{ form.nombre.errors }}
            </div>
            <div class="col-md-6">
                <label for="{{ form.bd_contacto.id_for_label }}">Base de Datos de Contactos: </label>
                {{ form.bd_contacto }}
                {{ form.bd_contacto.errors }}
            </div>
            {{ form.tipo_interaccion.errors }}
            <div class="col-md-6">
                <label><div class="myradio hidden">{{ form.tipo_interaccion.0 }}</div> Formulario: </label>
                {{ form.formulario }}
                {{ form.formulario.errors }}
            </div>
            {% comment %}
            <div class="col-md-6">
                <label><div class="myradio">{{ form.tipo_interaccion.1 }}</div> </label>
                {{ form.sitio_externo }}
                {{ form.sitio_externo.errors }}
            </div>
            {% endcomment %}
            <div class="col-md-6">
                <label for="{{ form.auto_grabacion.id_for_label }}">Grabar llamados: </label>
                {{ form.auto_grabacion }}
                {{ form.auto_grabacion.errors }}
            </div>
            <div class="col-md-6">
                <label>Objetivo: </label>
                {{ form.objetivo }}
                {{ form.objetivo.errors }}
            </div>
            {% block tiempo_desconexion %}{% endblock %}
        </div>
    {% endwith %}
{% endblock %}