<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<div clas="row">
    <form action = "" method = "post" enctype="multipart/form-data" role="form">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for pk, choice in form.reciclado_calificacion.field.widget.choices %}
            <div class="form-row">
                <label  for="id_{{ forloop.counter0 }}"><input id="id_{{ forloop.counter0 }}" name="reciclado_calificacion" type="checkbox" value="{{pk}}" />
                {{ choice }}
                </label>
            </div>
        {% endfor %}
        {% for pk, choice in form.reciclado_no_contactacion.field.widget.choices %}
        <div class="form-row">

            <label  for="id_no_{{ forloop.counter0 }}"><input id="id_no_{{ forloop.counter0 }}" name="reciclado_no_contactacion" type="checkbox" value="{{pk}}" />
                {{ choice }}
            </label>
        </div>

         {% endfor %}

        <h3>{% trans 'Como desea reciclar esta campana' %}</h3>
        <div class="form-row">
                    {{ form.reciclado_radio.0 }}
        </div>
        <div class="form-row">
                    {{ form.reciclado_radio.1 }}
        </div>
        <hr>
        <button type="submit" id="id_registrar" class="btn btn-primary">
            Reciclar
        </button>
    </form>
</div>

{% endblock %}