<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% extends "base.html" %}
{% load static %}

{% block head_js %}
<script type="text/javascript">
    $(document).ready(function() {

        setInterval(function() {
            window.location.reload(true)
        }, 5000);

    });

</script>
{% endblock %}

{% block content %}
<br>
<table class="table table-stripped">
    <thead>
        <tr>
            <th>Campaña</th>
            <th>Numero</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        {% for llamada in llamadas %}
        <tr>
            <td>{{llamada.campaignRun}}</td>
            <td>{{llamada.number}}</td>
            <td>{{llamada.state}}</td>
        </tr>
       {% empty %}
        <tr>
            <td colspan="3">No existen llamadas</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}