<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block head %}
    {{ wizard.form.media }}
{% endblock %}

{% block content %}
    {% block nav %}
    {% endblock %}
    <br>
    <div>
        <form action="" method="post" id="wizardForm">{% csrf_token %}
            <table>
                {{ wizard.management_form }}
                {% if wizard.form.forms %}
                    {% block formset_render %}
                    {% endblock %}
                {% else %}
                    {% block form_render %}
                    {% endblock %}
                {% endif %}
            </table>
            <hr>
            {% if wizard.steps.prev %}
                <button class="btn btn-outline-primary" name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
                <button class="btn btn-outline-primary" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
            {% endif %}
            <button class='btn btn-primary' type='submit' data-loading-text={% trans 'Cargando...' %}>
                {% if wizard.steps.next %}
                    {% trans "Paso siguiente" %}
                {% else %}
                    {% trans "Finalizar" %}
                {% endif %}
            </button>
        </form>
    </div>
{% endblock %}
