<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% load staticfiles %}
{% load compress %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'bootstrap-4.0.0/css/bootstrap.min.css' %}" >
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'ominicontacto/CSS/main.css' %}" ></link>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Asap:400,500" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'ominicontacto/CSS/oml-icons.css' %}">
    {% compress js %}
    <!-- Scripts -->
    <script src="{% static 'jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'bootstrap-4.0.0/js/bootstrap.bundle.min.js' %}"></script>
    {% endcompress %}
</head>
<body>

<div id="wrapper-search">
    <button id="btnCollapse" class="btn btn-block" type="button" data-toggle="collapse" data-target="#wrapperSearchForm" aria-expanded="true" aria-controls="wrapperSearchForm"><span class="icon icon-search"></span> Buscar</button>
    <div id="wrapperSearchForm" class="show">
        <form role="form" method="post" enctype="multipart/form-data" >
            {% csrf_token %}
            <div class="form-row">
                <div class="col-md-6">
                {{ form.as_p }}
                </div>
            </div>
            <button type="submit" id="id_buscar_btn" class="btn btn-primary">
                Buscar
            </button>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Teléfono</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for contacto in listado_de_contacto %}
        <tr>
            <td>{{ contacto.telefono }}</td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownActions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Opciones
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownActions">
                        <a class="dropdown-item" href="">
                            <span class="icon icon-phone"></span>Llamar
                        </a>
                        <a class="dropdown-item" href="{% url 'calificacion_formulario_update_or_create' campana.pk contacto.pk user.get_agente_profile.pk 0 %}">
                            <span class="icon icon-pencil"></span>Actualizar formulario
                        </a>
                    </div>
                </div>
            </td>
        </tr>
   {% empty %}
    <tr>
        <td colspan="3">No existen contactos</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>
