<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% for campana in borradas %}
    <tr>
        <td width="25%">
            <a href="">{{ campana.nombre }}</a>
        </td>
        <td> {{campana.get_estado_display}} </td>
        <td width="14%">
            <div class="dropdown">
                <button class="btn btn-light dropdown-toggle" type="button" id="dropdownActions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Opciones
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownActions">
                    <a class="dropdown-item" href="{% url 'campana_preview_supervisors' campana.pk %}">
                        <span class="icon icon-eye"></span>Dar permiso para ver
                    </a>
                    <a class="dropdown-item" href="{% url 'campana_reporte_calificacion' campana.pk %}">
                        <span class="icon icon-list"></span>Calificaciones
                    </a>
                    <a class="dropdown-item" href="{% url 'campana_reporte_grafico' campana.pk %}">
                        <span class="icon icon-graph"></span>Reportes
                    </a>
                    {% if campana.oculto %}
                    <a class="dropdown-item campana-mostrar-esconder" href="" data="visible">
                        <input class="hidden" name="campana-{{campana.pk}}" type="text" value={{ campana.pk }}>
                        <span class="icon icon-eye"></span>Hacer visible
                    </a>
                    {% else %}
                    <a class="dropdown-item campana-mostrar-esconder" href="" data="ocultar">
                        <input class="hidden" name="campana-{{campana.pk}}" type="text" value={{ campana.pk }}>
                        <span class="icon icon-eye-slash"></span>Ocultar
                    </a>
                    {% endif %}
                </div>
            </div>
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="3">No existen campañas</td>
    </tr>
{% endfor %}

{% block extra_js %}
    <script type="text/javascript">asociar_eventos_ocultar_campanas();</script>
{% endblock %}
