<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% extends "campana_manual/campana_list_base.html" %}
{% load static %}

{% block head_js %}
    <script type="text/javascript" src="{% static 'ominicontacto/JS/csrf.js' %}"></script>
    <script type="text/javascript">
     $(document).ready(function() {
       asociar_eventos_ocultar_campanas()
     });

     function asociar_eventos_ocultar_campanas(){
       $('.campana-mostrar-esconder').each(function(i, value){
         $(this).on('click', function() {
           var $show_node = $(this);
           var $show_state = $show_node.attr('data');
           var campana_pk = $(this).find('input').attr('value');
           var url = '{% url 'campana_mostrar_ocultar' '00000' %}';
           $.post('/campana/mostrar_ocultar/' + campana_pk + '/')
            .done(function() {
              console.log('Done');
              if ($show_state == 'ocultar') {
                // eliminamos el nodo ocultando de esta manera la campaña
                $show_node.parents('tr').remove();
              }
              else {
                // cambiamos los atributos del nodo para mostrarlo como visible
                $show_node.attr('data', 'ocultar');
                var $show_node_span = $show_node.find('span');
                $show_node_span.attr('title', 'ocultar');
                $show_node_span.attr('class', 'glyphicon glyphicon-eye-close');
              }
            })
            .fail(function(data) {
              console.log('Error');
            });
         });
       });
     }

     function mostrar_campanas_preview_ocultas() {
       $.get('{% url 'campana_preview_mostrar_ocultas' %}',
             function (data) {
               if (data.result == 'desconectado'){
                 //mostramos modal informativo de que el usuario está desconectado
                 $('#modal_desconectado').modal('show');
               }
               else {
                 // mostramos las campanas borradas
                 $('#t_body_borradas').html(data);
               }
             });
     };

     function mostrar_detalle_campana(pk_campana) {
       var $reporteModal = $('#reporteModal');
       var $modalContent = $reporteModal.find(".modal-body");
       var url = "{% url 'campana_preview_detalle_express' '0000000' %}";
       $.get('/campana_preview/' + pk_campana + '/detalle_express/',
             function (data) {
               $modalContent.html(data);
               $reporteModal.modal('show');
             });
     };
    </script>
{% endblock %}

{% block campanas_activas %}
    {% for campana in activas %}
        <tr>
            <tr>
                <td width="25%">
                    <a href="#" onclick="mostrar_detalle_campana({{ campana.id }})">{{ campana.nombre }}</a>
                    <a href="{% url 'campana_preview_detalle' campana.pk %}">
                        &nbsp;<span class="icon icon-search" aria-hidden="true" title="ver detalles"></span>
                    </a>
                </td>
            <td> {{campana.get_estado_display}}  </td>
            <td width="14%">
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownCampaignActive" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Opciones
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownCampaignActive">
                        <a class="dropdown-item" href="{% url 'campana_preview_update' campana.pk %}">
                            <span class="icon icon-pencil"></span>Modificar
                        </a>
                        <a class="dropdown-item" href="{% url 'queue_member_campana' campana.pk %}">
                            <span class="icon icon-plus"></span>Agregar agentes
                        </a>
                        <a class="dropdown-item" href="{% url 'campana_preview_supervisors' campana.pk %}">
                            <span class="icon icon-eye"></span>Dar permiso para ver
                        </a>
                        <a class="dropdown-item" href="{% url 'campana_reporte_calificacion' campana.pk %}">
                            <span class="icon icon-list"></span>Calificaciones
                        </a>
                        <a class="dropdown-item" href="{% url 'campana_reporte_grafico' campana.pk %}">
                            <span class="icon icon-graph"></span>Reportes
                        </a>
                        <a class="dropdown-item" href="{% url 'contactos_preview_asignados' campana.pk %}">
                            <span class="icon icon-contacts"></span>Ver Contactos Asignados
                        </a>
                        <a class="dropdown-item" href="{% url 'campana_preview_delete' campana.pk %}">
                            <span class="icon icon-trash"></span>Eliminar
                        </a>
                    </div>
                </div>
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="3">No existen campañas</td>
        </tr>
    {% endfor %}
{% endblock %}

{% block campanas_finalizadas %}
    <h2>Campañas Finalizadas</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Estado</th>
                <th>Acciones&nbsp;&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% for campana in finalizadas %}
                <tr>
                    <td width="25%">
                        <a href="#" onclick="mostrar_detalle_campana({{ campana.id }})">{{ campana.nombre }}</a>
                        <a href="{% url 'campana_preview_detalle' campana.pk %}">
                            &nbsp;<span class="icon icon-search" aria-hidden="true" title="ver detalles"></span>
                        </a>
                    </td>
                    <td> {{campana.get_estado_display}}  </td>
                    <td width="14%">
                        <div class="dropdown">
                            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownCampaignFinished" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Opciones
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownCampaignFinished">
                                <a class="dropdown-item" href="{% url 'campana_preview_supervisors' campana.pk %}">
                                    <span class="icon icon-eye"></span>Dar permiso para ver
                                </a>
                                <a class="dropdown-item" href="{% url 'campana_reporte_calificacion' campana.pk %}">
                                    <span class="icon icon-list"></span>Calificaciones
                                </a>
                                <a class="dropdown-item" href="{% url 'campana_reporte_grafico' campana.pk %}">
                                    <span class="icon icon-graph"></span>Reportes
                                </a>
                                <a class="dropdown-item" href="{% url 'campana_preview_delete' campana.pk %}">
                                    <span class="icon icon-trash"></span>Eliminar
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">No existen campañas</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br/>
{% endblock %}


{% block campanas_borradas %}
    {% for campana in borradas %}
        <tr>
            <td width="25%">
                {{ campana.nombre }}<a href="{% url 'campana_preview_detalle' campana.pk %}">
                    &nbsp;<span class="icon icon-search" aria-hidden="true" title="ver detalles"></span>
                </a>
            </td>
            <td> {{campana.get_estado_display}} </td>
            <td width="14%">
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownCampaignDeleted" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Opciones
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownCampaignDeleted">
                        <a class="dropdown-item" href="{% url 'campana_preview_supervisors' campana.pk %}">
                            <span class="icon icon-eye"></span>Dar permiso para ver
                        </a>
                        <a class="dropdown-item" href="{% url 'campana_reporte_calificacion' campana.pk %}">
                            <span class="icon icon-list"></span>Calificaciones
                        </a>
                        <a class="dropdown-item" href="{% url 'campana_reporte_grafico' campana.pk %}">
                            <span class="icon icon-graph"></span>Reportes
                        </a>
                        {% if campana.oculto %}
                        <a class="dropdown-item campana-mostrar-esconder" data="visible" href="">
                            <input class="hidden" name="campana-{{campana.pk}}" type="text" value={{ campana.pk }}>
                            <span class="icon icon-eye"></span>Hacer visible
                        </a>
                        {% else %}
                        <a class="dropdown-item campana-mostrar-esconder" data="visible" href="">
                            <input class="hidden" name="campana-{{campana.pk}}" type="text" value={{ campana.pk }}>
                            <span class="icon icon-eye-slash"></span>Ocultar
                        </a>
                        {% endif %}
                    </div>
                </div>
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="3">No existen campañas</td>
        </tr>
    {% endfor %}

    <div class="modal fade" id="modal_desconectado" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title">Usuario desconectado</h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <p>Refresque la página y vuelva a ingresar para poder acceder a la funcionalidad deseada</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div class="modal" id="reporteModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title">Estadísticas campaña</h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

{% endblock %}
