<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% load staticfiles %}
{% load compress %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'bootstrap-4.0.0/css/bootstrap.min.css' %}" >
    <link rel="stylesheet" href="{% static 'ominicontacto/CSS/daterangepicker.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'ominicontacto/CSS/main.css' %}" ></link>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Asap:400,500" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'ominicontacto/CSS/oml-icons.css' %}">
    <!-- Scripts -->
    {% compress js %}
    <script src="{% static 'jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'bootstrap-4.0.0/js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'ominicontacto/JS/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'ominicontacto/JS/daterangepicker.js' %}"></script>
    {% endcompress %}
    <script type="text/javascript">
   $(function() {
                var start = moment().subtract(29, 'days');
                var end = moment();
                function cb(start, end) {
                    $('#id_fecha').html(start.format('D MMMM, YYYY') + ' - ' + end.format('D MMMM, YYYY'));
                }


 $('#id_fecha').on('apply.daterangepicker', function(ev, picker) {
      $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
  });

  $('#id_fecha').on('cancel.daterangepicker', function(ev, picker) {
      $(this).val('');
});

            // Init daterange plugin
            $('#id_fecha').daterangepicker(
                {
                locale: {
                    format: 'DD/MM/YYYY'
                 },

                autoUpdateInput: false,
                ranges: {
                    'Hoy': [moment(), moment()],
                    'Ayer': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Ultimos 7 Días': [moment().subtract(6, 'days'), moment()],
                    'Ultimos 30 Días': [moment().subtract(29, 'days'), moment()],
                    'Este Mes': [moment().startOf('month'), moment().endOf('month')],
                    'Ultimo Mes': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },

        }, cb);

        cb(start, end);

});
    </script>
</head>
<body>

<h1>Agendas</h1>

<div id="wrapper-search">
    {% include 'messages.html' %}
    <button id="btnCollapse" class="btn btn-block" type="button" data-toggle="collapse" data-target="#wrapperSearchForm" aria-expanded="true" aria-controls="wrapperSearchForm"><span class="icon icon-search"></span> Buscar</button>
    <div id="wrapperSearchForm" class="show">
        <form role="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-md-6">
                    {{form.fecha}}
                </div>
            </div>
            <button type="submit" id="id_buscar_btn" class="btn btn-primary">
                Filtrar
            </button>
        </form>
    </div>
</div>

    <table class="table">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Es personal</th>
                <th>Es smart</th>
                <th>Medio comunicación</th>
                <th>Descripción</th>
            </tr>
        </thead>
        <tbody>
        {% for evento in listado_de_eventos %}
            <tr>
                <td>{{ evento.fecha|date:"d/m/Y" }}</td>
                <td>{{ evento.hora|date:"H:i" }}</td>
                <td>
                    {% if evento.es_personal %}
                        <span class="icon icon-check" aria-hidden="true"></span>
                    {% else %}
                        <span class="icon icon-cancel" aria-hidden="true"></span>
                    {% endif %}
                </td>
                <td>
                    {% if evento.es_smart %}
                        <span class="icon icon-check" aria-hidden="true"></span>
                    {% else %}
                        <span class="icon icon-cancel" aria-hidden="true"></span>
                    {% endif %}
                </td>
                <td>
                    {{evento.get_medio_comunicacion_display}}
                    {% if evento.medio_comunicacion == 1 %}
                        : {{ evento.sms }}
                    {% elif evento.medio_comunicacion == 2 %}
                        : {{ evento.telefono }}
                    {% elif evento.medio_comunicacion == 3 %}
                        : {{ evento.email }}
                    {% else %}
                        Hay otro medio de comunicacion no disponible
                    {% endif %}
                </td>
                <td>{{ evento.descripcion}}</td>
            </tr>
       {% empty %}
        <tr>
            <td>No existen eventos para el día de hoy</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>
