<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% load static %}
{% for registro in registros %}
 <tr>
     <td><img height='15' width='15'
              {%if registro.tipo_llamada == 3 %}
                        src="{% static 'ominicontacto/Img/incomingCall.png' %}" 
              {% else %}
              src="{% static 'ominicontacto/Img/outgoingCall.png' %}"
              {% endif %}
     /></td>
     <td>{{ registro.numero_telefono }}</td>
     <td>{{ registro.fecha_hora_llamada | date:"d-m" }}</td>
     <td>{{ registro.fecha_hora_llamada | date:"H:i:s" }}</td>
 </tr>
{% endfor %}