<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% extends "base.html" %}
{% load static %}

{% block content %}

                <h1>Campaña {{ campana.nombre }}</h1>

                {% if campana.fecha_inicio %}
                    <h3>Desde: {{ campana.fecha_inicio|date:"d/m/Y" }}</h3>
                    <h3>Hasta: {{ campana.fecha_fin|date:"d/m/Y" }}</h3>
                {% endif %}
                <h3>Base Datos: {{ campana.bd_contacto }}</h3>
                <br>
                <a class="btn btn-outline-primary" href="{% url 'exporta_campana_reporte' campana.pk %}">Exportar Calificacion(CSV)</a>
                <a class="btn btn-outline-primary" href="{% url 'exporta_formulario_reporte' campana.pk %}">Exportar Gestion: {{campana.gestion}}(CSV)</a>
                <table class="table">
                    <thead>
                      <tr class="fts-table-bg">
                        <th>Teléfono</th>
                        <th>Datos</th>
                        <th>Calificación</th>
                        <th>Observaciones</th>
                        <th>Base de datos</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for calificacion in campana.obtener_calificaciones %}
                            <tr>
                                <td>
                                    {{ calificacion.contacto.telefono }}
                                </td>
                                <td>
                                    {{ calificacion.contacto.datos}}
                                </td>
                                 <td>
                                    {{ calificacion.opcion_calificacion.nombre }}
                                </td>
                                <td>
                                    {% if calificacion.observaciones %}
                                        {{calificacion.observaciones}}
                                    {% endif %}
                                </td>
                                <td>{{calificacion.contacto.bd_contacto}}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="16">
                                    <p>No se encontraron Calificaciones para esta campaña.</p>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
{% endblock %}
